body {
	background:dodgerblue;
	text-align: center;
}

h1 {
	padding: 2em;
	margin: 2em;
	box-shadow: 0 0 10px red;
}

h1:hover {
	cursor: pointer;
	color:white;
	background: black;
	box-shadow: 0 0 10px white;
}

.quiz {
	display: none;
	padding: 2em 0 2em 0;
	text-align: center;
	width: 80%;
	height: 500px;
	background: rgba(104,104,104,0.5);
	margin:10% 10% auto;
}

.q1,
.q2,
.q3,
.q4,
.q5 {
	display: none;	
}